<main class="w-full h-full flex flex-col bg-gray-100">
  <header class="bg-blue-600 text-white p-4 shadow-2xl">
    <div class="container mx-auto flex items-center justify-between">
      <h1 class="text-3xl font-semibold capitalize">{{pokemonName ?? 'Pokémon List'}}</h1>
      <p-button *ngIf="pokemonName" icon="pi pi-arrow-left" [outlined]="true" routerLink="/pokemon-list/"/>
    </div>
  </header>
  <section class="h-full w-full overflow-auto ">
    <router-outlet></router-outlet>
  </section>
</main>
